@font-face {
      font-family: argestadisplay;
      src: url("../fonts/argestadisplay-regular-webfont.woff2") format('woff2'),
           url("../fonts/argestadisplay-regular-webfont.woff") format('woff'),
           url("../fonts/argestadisplay-regular-webfont.eot") format('embedded-opentype');
      font-weight: 400;
      font-style: normal;
    }

@font-face {
      font-family: geomanist;
      src: url("../fonts/geomanist-regular-webfont.woff2") format('woff2'),
           url("../fonts/geomanist-regular-webfont.woff") format('woff'),
           url("../fonts/geomanist-regular-webfont.ttf") format('truetype');
      font-weight: 400;
      font-style: normal;
    }

body {
  background-color: #C2C388;
  font-family: "geomanist", sans-serif;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid #ADAD27;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: #ADAD27;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 375px) {
  .home {
    width: 85%;
    margin: 3rem auto;
  }
  .about {
    font-size: 1.825rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 376) and (max-width: 767px) {
  .home {
    width: 85%;
    margin: 4rem auto;
  }
  .about {
    font-size: 3rem;
    line-height: 3.75rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .home {
    width: 70%;
    margin: 8rem auto;
  }
  .about {
    font-size: 4rem;
    line-height: 4.75rem;
    margin-bottom: 4rem;
  }
}

.about {
  color: #21211A;
  font-family: "argestadisplay", serif;
  font-weight: 400;
}

.belowfold {
}

.email {
  color: #000000;
}
