@font-face {
      font-family: argestadisplay;
      src: url("../fonts/argestadisplay-regular-webfont.woff2") format('woff2'),
           url("../fonts/argestadisplay-regular-webfont.woff") format('woff'),
           url("../fonts/argestadisplay-regular-webfont.eot") format('embedded-opentype');
      font-weight: 400;
      font-style: normal;
    }

@font-face {
      font-family: geomanist;
      src: url("../fonts/geomanist-regular-webfont.woff2") format('woff2'),
           url("../fonts/geomanist-regular-webfont.woff") format('woff'),
           url("../fonts/geomanist-regular-webfont.ttf") format('truetype');
      font-weight: 400;
      font-style: normal;
    }

body {
  background-color: #FFFFFF;
  font-family: "geomanist", sans-serif;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid #ADAD27;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: #ADAD27;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 1.75;
  margin: 0;
}

ul.writing {
  margin-bottom: 2rem;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

.yellow {
  display: flex;
  background-color: #C2C388;
  width: auto;
  height: 100vh;
}

.about {
  display: flex;
  align-items: center;
  color: #21211A;
  font-family: "argestadisplay", serif;
  font-weight: 400;
}

@media (max-width: 374px) {
  .about {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem;
  }
  .footer {
    padding: 2rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .about {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 3rem;
  }
  .footer {
    padding: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    font-size: 3.5rem;
    line-height: 4.25rem;
    padding: 6rem;
  }
  .footer {
    padding: 6rem;
  }
}

@media (min-width: 1024px) {
  .about {
    font-size: 4rem;
    line-height: 4.75rem;
    padding: 8rem;
  }
  .footer {
    padding: 8rem;
  }
}
